.marquee {
    animation-name: scroll;
    white-space: nowrap;
    animation-name: scroll;
    animation-duration: 10;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translate(-100%);
    }
}